.ShortCutIcon {
  color: #323232;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  text-align: center;
  align-items: center;

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    $img-width: 5vh;
    width: $img-width;
    height: $img-width;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.25);
    background-color: #E6F5EA;
  }

  .title {
    margin: 0.2rem 0 0 0;
  }
}