.ShortCutIcon {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  text-align: center;
  align-items: center;

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    $img-width: 5vh;
    width: $img-width;
    height: $img-width;
    border: 0.3rem gray solid;
    border-radius: 1rem;
  }
}