.TaskBar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 12vh;
  background-color: #A6CFA5;
  background: rgba(166, 207, 165, 0.64);
  position: absolute;
  bottom: 0px;
}