@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@800&display=swap');

.App {
  text-align: center;

  .applicant-name {
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 13vh;
  }
}