.Name {
  position: relative;
  margin: 5rem;

  .applicant-name {
    position: absolute;
    z-index: 0;
    grid-column: 1 / 2;
    font-family: 'Noto Sans Display';
    font-size: 13vh;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
  }

  .shadow {
    margin: 3rem 0 0 5rem;
    position: absolute;
    z-index: -1;
    color: #C8E1C7;
    opacity: 45%;
    text-shadow: none;
  }
}